:root {
    --button: #C4804A;
    --espresso: #6B5F54;
    --overlay: rgba(238,238,238,0.5);
    --headingFontSize: 56px;
    --paragraphFontSize: 25px;
    --tabFontSize: 18px;
    --lrgBtnFontSize: 22px;
    --regBtnSize: 18px;
    --scheduleFontSize: 24px;
    --secondaryHeading: 45px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
}
@font-face {
    font-family: 'HeadingFont';
    src: url('./fonts/static/Oswald-Medium.ttf');
}
@font-face {
    font-family: 'BtnFont';
    src: url('./fonts/static/Oswald-Regular.ttf');
}

h1, h2{
    color: black;
    font-family: HeadingFont;
    font-size: var(--headingFontSize);
    margin: 0 0;
}


.header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 95vh;
background-color: black;
background-image: url('./imgs/coffeeShopHeader.jpg');
background-size: cover;
box-sizing: border-box;
gap: 50px;
}
.header img {
    height: 125px;
}
.overlay {
    width: 450px;
    height: 450px;
    background-color: var(--overlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.overlay h1 {
    margin: 0 0;
}

.headerBtn {
    background-color: var(--button);
    color: white;
    font-family: BtnFont;
    font-size: var(--lrgBtnFontSize);
    width: 225px;
    height: 60px;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    border: none;    
}

.tabs {
    display: flex;
    height: 55px;
    align-items: center;
    width: 450px;
}
.tabs p {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 0;
    width: 33%;
    height: 100%;
    box-sizing: border-box;
    font-family: BtnFont;
    font-size: var(--regBtnSize);
}

.contact, .menu {
    border: 3px solid var(--button);
    border-top: none;
}
.contact {
    border-bottom-left-radius: 15px;
}
.menu {
    border-bottom-right-radius: 15px;
}
.home {
    border-bottom: 3px solid var(--button);
}


.sec2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    max-height: 866px;
    max-width: 1650px;
    min-height: 866px;
}
.sec2 img {
    width: 40%;
    max-height: 866px;
    box-shadow: 0px 4px 8.3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.about {
    background-color: var(--espresso);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 650px;
    min-height: 390px;
    box-shadow: 0px 4px 8.3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.aboutTxt {
    height: 45%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;

}
.about h1 {
    color: white;
    font-size: var(--secondaryHeading);
    margin: 0 0;
    margin-top: 70px;
}
.aboutTxt p {
    margin: 0 0;
    text-align: start;
    font-size: var(--paragraphFontSize);
    font-family: sans-serif;
    line-height: 150%;
    width: 370px;
}
.aboutImgContainer {
    height: 40%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 300px;
}
.aboutImgContainer img {
    width: 150px;
}
.hoursSection {
    position: relative;
    margin-top: 50px;
    height: 800px;
    width: 100%;
    max-width: 1355px;
    background-image: url('./imgs/sharing-coffee.jpg');
    background-size: cover;
    box-shadow: 0px 4px 8.3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.hoursOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    opacity: .5;
    z-index: 0;
}
.hoursHeading {
    position: relative;
    z-index: 4;
    width: 100%;
    text-align: center;
    margin: 30px 0
}
.table {
    position: relative;
    table-layout: fixed;
    width: 30%;
    height: 70%;
    z-index: 5;
    margin: 0 auto;
    font-size: var(--paragraphFontSize);
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
}

.table tr {
    border-bottom: 2px solid black;
}    
.days {
    border-right: 2px solid black;
}
.table tr:last-of-type {
    border: none;
}

/* Contact Page CSS */      

.contactHeading {
    text-align: center;
    margin-top: 25px;
    text-shadow: 1px 1px 2px black;
}
.contactSubheading {
    text-align: center;
    font-family: BtnFont;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
}
.contactOverlay {
    position: relative;
    width: 80%;
    height: 50vh;
    background: rgba(60, 44, 30, 0.33);
    border-radius: 10px;
    box-shadow: 0px 4px 8.3px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.coffee {
    background-image: url('./imgs/coffee-cup.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0 0;
    padding: 0 0;
    display: flex; 
    justify-content: center;
}
.contactTabs {
    position: absolute;
    left: 34%;
    height: 50px;
    top: 0;
    width: 400px;
}

form {
    display: grid;
    margin-top: 20px;
    height: 60%;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 350px 350px;
    row-gap: 30px;
    column-gap: 100px;
}
form input, textarea, form button {
    opacity: .8;
    border-radius: 15px;
    padding: 10px 10px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 8.3px 0px rgba(0, 0, 0, 0.4);
}
form button {
    opacity: 1;
    font-size: var(--lrgBtnFontSize)
}
textarea {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}